body {
    background-image: url("/Eat-da-burger/public/assets/img/burger.png");
}

ul {
    padding: 5px;
    margin: 5px;
    background: #ffff99;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background: #ffff99;
  }
  
  .form-group {
    margin-bottom: 5px;
  }